<%-include('partials/header')%>
<%-include ('partials/nav')%>

<main id="profile" class="container">
        <img src="/uploads/<%=profile.picture %>" alt=""><br>
    
     <h1><%= profile.name %></h1><br>
    <a href="/edit-profile">Edit</a>
</main>


<%-include ('partials/footer') %>